/* Based on the styling for alerts */
.admonition {
  background-color: var(--ifm-alert-background-color);
  border: var(--ifm-alert-border-width) solid var(--ifm-alert-border-color);
  border-radius: var(--ifm-alert-border-radius);
  box-sizing: border-box;
  color: var(--ifm-alert-color);
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
  margin-bottom: 1em;
}

.admonition h5 {
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.admonition-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2em;
}

.admonition-icon svg {
  display: inline-block;
  width: 22px;
  height: 22px;
  stroke-width: 0;
}

.admonition-content > :last-child {
  margin-bottom: 0;
}

.admonition .admonition-icon svg {
  stroke: var(--ifm-alert-color);
  fill: var(--ifm-alert-color);
}

/* default for custom types */

.admonition {
  --ifm-alert-background-color: var(--ifm-color-primary)
}

/* styles for native types */

.admonition-important {
  color: var(--ifm-alert-color);
  background-color: var(--ifm-alert-background-color);
  border-color: var(--ifm-alert-background-color)
}

.admonition-tip {
  --ifm-alert-background-color: var(--ifm-color-success)
}

.admonition-important, .admonition-tip {
  color: var(--ifm-alert-color);
  background-color: var(--ifm-alert-background-color);
  border-color: var(--ifm-alert-background-color)
}

.admonition-important {
  --ifm-alert-background-color:var(--ifm-color-info)
}

.admonition-warning {
  --ifm-alert-background-color:var(--ifm-color-danger)
}

.admonition-note {
  --ifm-alert-background-color:var(--ifm-color-secondary);
  color: var(--ifm-color-gray-900);
}

.admonition-note .admonition-icon svg {
  fill: var(--ifm-color-gray-900);
  stroke: var(--ifm-color-gray-900);
}

.admonition-caution,.admonition-warning {
  color: var(--ifm-alert-color);
  background-color: var(--ifm-alert-background-color);
  border-color: var(--ifm-alert-background-color)
}

.admonition-caution {
  --ifm-alert-background-color:var(--ifm-color-warning)
}